

a {color: rgb(0, 221, 255);
    transition: 1s;
        
        
        }
        a:hover{color: rgb(255, 0, 0);}
        h1
        {
            color: rgb(251, 0, 0);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        body 
        {
            background-color: rgb(62, 60, 60);
    
    
        }
        
        a
        <style>
        h2 {
            color:red;
        }
    </style>
    <style>
        {

        }
    </style>
    <style>
            h1 {
                color:red;
            }
    </style>
    <style>
         p {
             color:red;
            }
    </style>
        </style>
        <style>
             h3 {
                 color:red;
                }
        </style>
                <style>
                    br {
                        color:red;
                       }
               </style>